[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lark-parser = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
freezegun = "*"
codecov = "*"
mypy = "*"
